.noMargin
{
margin-left:0px!important;
margin-right:0px!important;
}
@media screen and (min-width: 992px) {
.myContainer
{
min-height:100vh!important;
max-width: 2000px!important;
}
 
}
@media screen and (max-width: 767px) {
.display-4
{
font-size:2rem!important;
}
.p-5{ padding-left: 0px !important;
padding-right: 0px !important;
}}
@media screen and (max-width: 421px) {
.myHeaders
{
padding-left:0px!important;

padding-right:0px!important;


}
.myHeader
{


}
}
